@charset "UTF-8";
.header {
  margin: 0 auto 83px;
  padding-top: 65px;
  width: 316px;
  /* ---nav--- */
  /* ---wrapper--- */
  /* ---photo--- */
}
.header__nav {
  margin-bottom: -34px;
  text-align: end;
}
.header__burger {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 33px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header__burger:focus-visible {
  outline-offset: 3px;
}
.header__burger-menu {
  display: block;
  position: relative;
  width: 33px;
  height: 4px;
  background-color: #000000;
}
.header__burger-menu::before, .header__burger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}
.header__burger-menu::before {
  top: 8px;
}
.header__burger-menu::after {
  bottom: 8px;
}
.header__links {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 26px;
  padding-top: 66px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background: #ffffff;
  transition: 1s;
}
.header__links-item:not(:last-child) {
  padding-bottom: 68px;
}
.header__links-href {
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  line-height: 42px;
  color: #828282;
  transition: 0.3s;
}
.header__links-href:hover {
  color: #070707;
}
.header__wrapper {
  margin-bottom: 37px;
}
.header__heading {
  width: 123px;
  margin-bottom: 23px;
  font-size: 47px;
  font-weight: bold;
  line-height: 58px;
  color: #000000;
}
.header__description {
  width: 155px;
  white-space: pre-line;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #070707;
}
.header__lang {
  display: none;
  position: relative;
}
.header__lang::before {
  content: "|";
  position: absolute;
  top: -3px;
  left: 55px;
  font-size: 34px;
  font-weight: bold;
  line-height: 42px;
  color: #070707;
}
.header__lang-href {
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  line-height: 42px;
  color: #828282;
  transition: 0.3s;
}
.header__lang-href:hover {
  text-decoration: underline;
  color: #070707;
}
.header__photo-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.header__photo-desktop {
  display: none;
  margin: auto;
  height: 387px;
}
.header__photo-mobile {
  margin: auto;
  height: 478px;
}

/* ---Модификаторы--- */
.header_current-link {
  color: #070707;
}
.header_menu_visible {
  display: flex;
  z-index: 1;
}
.header__burger_on {
  position: fixed;
  z-index: 2;
  top: 66px;
  right: 29px;
  width: 22px;
  height: 22px;
}
.header__burger_on::before, .header__burger_on::after {
  content: "";
  position: absolute;
  left: -3px;
  top: 9px;
  width: 28px;
  height: 4px;
  background: #828282;
}
.header__burger_on::before {
  transform: rotate(45deg);
}
.header__burger_on::after {
  transform: rotate(-45deg);
}
.header__burger-menu_off {
  display: none;
}
.header__lang_visible {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  right: 58px;
  bottom: 57px;
  width: 144px;
  transform-origin: right bottom;
  transform: rotate(90deg);
}

/* ---Адаптация--- */
@media (min-width: 945px) {
  .header {
    margin-bottom: 104px;
    padding-top: 0;
    width: 944px;
    /* ---nav--- */
  }
  .header__nav {
    margin-bottom: 0;
    height: 113px;
    text-align: start;
  }
  .header__burger {
    display: none;
  }
  .header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 0;
    height: 100%;
  }
  .header__links-item:not(:last-child) {
    padding-bottom: 0;
  }
  .header__links-href {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #828282;
  }
}