$color-black: #070707;
$color-gray: #828282;
$color-background-gray: #f6f6f6;

$default-font: (color: #000000, weight: normal);
@mixin font($size, $line_height, $color, $weight) {
    font: {
        size: $size * 1px;
        weight: $weight;
    }
    line-height: $line_height * 1px;
    color: $color;
}

.block {
    margin: auto;

    &__wrapper {
        margin: auto;
        width: 316px;
        text-align: center;
    }

    &__heading {
        @include font(34, 42, #000000, bold);
    }

    &__description {
        @include font(18, 22, $default-font...);
        white-space: pre-line;

        &:not(:last-child) {
            margin-bottom: 42px;
        }
    }

    /* ---Блок Skills--- */
    &__skills {
        &-item {
            &:not(:last-child) {
                margin-bottom: 85px;
            }
        }

        &-img {
            margin-bottom: 24px;

            height: 89px;
        }

        &-heading {
            margin-bottom: 41px;

            @include font(14, 17, $color-gray, bold);
            white-space: pre-line;
        }

        &-progress {
            width: 131px;
            height: 26px;
    
            border: none;
            background: #e5e5e5;
            -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="26px" viewBox="0 0 25 26" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(96.862745%,96.862745%,96.862745%);fill-opacity:1;" d="M 7.039062 6.101562 C 7.261719 5.417969 8.226562 5.417969 8.449219 6.101562 L 9.75 10.09375 C 9.851562 10.398438 10.136719 10.605469 10.457031 10.605469 L 14.664062 10.605469 C 15.382812 10.605469 15.679688 11.527344 15.097656 11.949219 L 11.699219 14.414062 C 11.4375 14.601562 11.328125 14.9375 11.429688 15.246094 L 12.726562 19.230469 C 12.953125 19.914062 12.167969 20.484375 11.585938 20.0625 L 8.179688 17.59375 C 7.917969 17.40625 7.566406 17.40625 7.308594 17.59375 L 3.902344 20.0625 C 3.320312 20.484375 2.535156 19.914062 2.757812 19.230469 L 4.058594 15.246094 C 4.160156 14.9375 4.050781 14.601562 3.789062 14.414062 L 0.390625 11.949219 C -0.195312 11.527344 0.105469 10.605469 0.824219 10.605469 L 5.03125 10.605469 C 5.351562 10.605469 5.636719 10.398438 5.738281 10.09375 Z M 7.039062 6.101562 "/></g></svg>');
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="26px" viewBox="0 0 25 26" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(96.862745%,96.862745%,96.862745%);fill-opacity:1;" d="M 7.039062 6.101562 C 7.261719 5.417969 8.226562 5.417969 8.449219 6.101562 L 9.75 10.09375 C 9.851562 10.398438 10.136719 10.605469 10.457031 10.605469 L 14.664062 10.605469 C 15.382812 10.605469 15.679688 11.527344 15.097656 11.949219 L 11.699219 14.414062 C 11.4375 14.601562 11.328125 14.9375 11.429688 15.246094 L 12.726562 19.230469 C 12.953125 19.914062 12.167969 20.484375 11.585938 20.0625 L 8.179688 17.59375 C 7.917969 17.40625 7.566406 17.40625 7.308594 17.59375 L 3.902344 20.0625 C 3.320312 20.484375 2.535156 19.914062 2.757812 19.230469 L 4.058594 15.246094 C 4.160156 14.9375 4.050781 14.601562 3.789062 14.414062 L 0.390625 11.949219 C -0.195312 11.527344 0.105469 10.605469 0.824219 10.605469 L 5.03125 10.605469 C 5.351562 10.605469 5.636719 10.398438 5.738281 10.09375 Z M 7.039062 6.101562 "/></g></svg>');
    
            &::-webkit-progress-bar {
                background: #e5e5e5;
            }
    
            &::-moz-progress-bar {
                background: #000000;
            }
    
            &::-webkit-progress-value {
                background: #000000;
            }
        }
    }

    /* ---Блок Portfolio--- */
    &__portfolio {
        &-item {
            &:not(:last-child) {
                margin-bottom: 78px;
            }
        }

        &-img {
            margin-bottom: 35px;

            width: 316px;
        }

        &-link {
            @include font(18, 22, $default-font...);

            /* Не ругайтесь за следующий ховер :) Здесь нет элементов слева/справа, поэтому ничего страшного не произойдет */
            &:hover {
                font-weight: bold;
            }
        }
    }

    /* ---Блок Contacts--- */
    &__button {
        margin-bottom: 48px;

        width: 316px;
        height: 42px;

        border: 2px solid $color-black;
        border-radius: 21px;
        background: $color-black;
        cursor: pointer;
        transition: all 0.3s, box-shadow 0.2s;

        @include font(18, 22, #ffffff, bold);

        &:hover, &:focus-visible {
            background: #ffffff;
            color: $color-black;
        }

        &:active {
            box-shadow: 0 0 10px 0 $color-gray;
        }
    }

    &__contacts {
        &-list {
            display: flex;
            gap: 52px;
            margin-bottom: 48px;
    
            list-style: none;
        }

        &-img {
            height: 40px;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* ---Модификаторы--- */
.block {
    &_color_gray {
        background: $color-background-gray;
    }

    &_padding {
        &_about {
            padding: 81px 0 76px;
        }

        &_skills {
            padding: 83px 0 99px;
        }

        &_portfolio {
            padding: 81px 0;
        }

        &_footer {
            padding: 82px 0 90px;
        }
    }

    &__heading_margin {
        &_about {
            margin-bottom: 30px;
        }
        
        &_skills {
            margin-bottom: 50px;
        }

        &_portfolio {
            margin-bottom: 65px;
        }

        &_footer {
            padding-bottom: 27px;
        }
    }

    &__description_margin {
        &_skills {
            margin-bottom: 83px !important;
        }

        &_footer {
            margin-bottom: 40px !important;
        }
    }

    &__description_color {
        &_gray {
            color: $color-gray;
        }
    }
}