$color-black: #070707;
$color-gray: #828282;

$default-font: (color: #000000, weight: normal);
@mixin font($size, $line_height, $color, $weight) {
    font: {
        size: $size * 1px;
        weight: $weight;
    }
    line-height: $line_height * 1px;
    color: $color;
}

.header {
    // display: flex;
    // flex-direction: column;
    margin: 0 auto 83px;
    padding-top: 65px;

    // box-sizing: content-box;
    width: 316px;

    /* ---nav--- */
    &__nav {
        margin-bottom: -34px;

        text-align: end;
    }

    &__burger {
        position: relative;
        z-index: 1;
        padding: 0;

        width: 33px;
        height: 20px;
        
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus-visible {
            outline-offset: 3px;
        }

        &-menu {
            display: block;
            position: relative;

            width: 33px;
            height: 4px;

            background-color: #000000;
            // pointer-events: none;

            &::before, &::after {
                content: "";
                position: absolute;
                left: 0;

                width: 100%;
                height: 100%;

                background: #000000;
            }

            &::before {
                top: 8px;
            }

            &::after {
                bottom: 8px;
            }
        }
    }

    &__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 26px;
        padding-top: 66px;

        position: fixed;
        left: 0;
        top: 0;

        width: 100%;
        height: 100vh;

        list-style: none;
        background: #ffffff;
        transition: 1s;

        &-item {
            &:not(:last-child) {
                padding-bottom: 68px;
            }
        }

        &-href {
            text-decoration: none;
            @include font(34, 42, $color-gray, bold);
            transition: 0.3s;

            &:hover {
                color: $color-black;
            }
        }
    }

    /* ---wrapper--- */
    &__wrapper {
        margin-bottom: 37px;
    }

    &__heading {
        width: 123px;
        margin-bottom: 23px;

        @include font(47, 58, #000000, bold);
    }

    &__description {
        width: 155px;

        white-space: pre-line;
        @include font(18, 22, $color-black, normal);
    }

    &__lang {
        display: none;
        position: relative;

        &::before {
            content: "|";
            position: absolute;
            top: -3px;
            left: 55px;

            @include font(34, 42, $color-black, bold);
        }

        &-href {
            text-decoration: none;
            @include font(34, 42, $color-gray, bold);
            transition: 0.3s;

            &:hover {
                text-decoration: underline;
                color: $color-black;
            }
        }
    }

    /* ---photo--- */
    &__photo-container {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    &__photo {
        &-desktop {
            display: none;
            margin: auto;
            height: 387px;
        }
        
        &-mobile {
            margin: auto;            
            height: 478px;
        }
    }
}

/* ---Модификаторы--- */
.header {
    &_current-link {
        color: $color-black;
    }

    &_menu_visible {
        display: flex;
        z-index: 1;
    }

    &__burger_on {
        position: fixed;
        z-index: 2;
        top: 66px;
        right: 29px;

        width: 22px;
        height: 22px;

        &::before, &::after {
            content: "";
            position: absolute;
            left: -3px;
            top: 9px;

            width: 28px;
            height: 4px;

            background: $color-gray;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__burger-menu_off {
        display: none;
    }

    &__lang_visible {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 2;
        right: 58px;
        bottom: 57px;

        width: 144px;

        transform-origin: right bottom;
        transform: rotate(90deg);
    }
}

/* ---Адаптация--- */
@media (min-width: 945px) {
    .header {
        margin-bottom: 104px;
        padding-top: 0;

        width: 944px;

        /* ---nav--- */
        &__nav {
            margin-bottom: 0;

            height: 113px;

            text-align: start;
        }

        &__burger {
            display: none;
        }

        &__links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            position: static;
            padding: 0;

            height: 100%;

            &-item {
                &:not(:last-child) {
                    padding-bottom: 0;
                }
            }

            &-href {
                @include font(18, 22, $color-gray, bold);
            }
        }
    }
    
}